.containerSpinner {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem 1rem;
}

.containerError {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem 1rem;
  font-size: 1.4rem;
  background-color: var(--danger);
  border-radius: var(--radius-medium);
  color: var(--danger-text);
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
