.Button {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--danger);
  color: var(--danger-foreground);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}
.Button:active {
  transform: scale(0.85);
  box-shadow: 0 0 0 4px color-mix(in srgb, var(--destructive) 40%, transparent);
}
.Content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Spinner {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
